@using aznews.Models;
@model IList<viewTopBaiViet>;

<!--   Weekly2-News start -->
<div class="weekly2-news-area  weekly2-pading gray-bg">
    <div class="container">
        <div class="weekly2-wrapper">
            <!-- section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle mb-30">
                        <h3>Bài viết xem nhiều</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="weekly2-news-active dot-style d-flex dot-style">
                        @{
                            var topbaiviet = Model.Take(5).ToList();
                            foreach (var tbv in topbaiviet)
                            {
                                <div class="weekly2-single">
                                    <div class="weekly2-img">
                                        <img src="@tbv.Anh" alt="" width="270px" height="175px">
                                    </div>
                                    <div class="weekly2-caption">
                                        <span class="color1">@tbv.MenuName</span>
                                        <p>@tbv.NgayTao</p>
                                        <h4><a href="#">@tbv.TenBaiViet</a></h4>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Weekly-News -->